*, *::before, *::after {
  box-sizing: border-box;
}

#viewport {
  width: 100%;
  overflow: auto;
}

#canvas {
  width: min(720px, 100%);
  height: auto;
  display: block;
  margin: 0 auto;
}
p {
  width: min(720px, 100%);
  margin: 0 auto 15px auto;
  color: black;
}

img {
  display: none;
}


.button-container {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}

div {
  color: gray;
  /* font-size: 1vw; */
}

button {
  /* font-size: 1vw; */
}

.selected {
  color: black;
}