*, *::before, *::after {
  box-sizing: border-box;
}

#canvas {
  width: 720px;
  height: 470px;
  display: block;
  margin: 0 auto;
}
p {
  width: 720px;
  margin: 0 auto;
}

img {
  display: none;
}


.button-container {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  gap: 20px;
}

div {
  color: gray;
}

.selected {
  color: black;
}